// TOOLBAR
// -------

$toolbar-width: 36px;


// GRID
// ----
$grid-border-size: 1px;
$grid-border: solid black; 

// TRANSITIONS
// -----------
$default-transition-time: 0.25s;


// FOUNDATION OVERRIDES
// -------------------

// TOPBAR
// ------

$topbar-height: 60px;
$topbar-link-font-size: 1.7rem;
